@using VelzonModerna.ViewModels
@model ClienteViewModel



<div class="row col-12">

    <div class="col-6">

        <dl>

            <dt>Nome Fantasia</dt>
            <dd>Nome Fantasia</dd>

            <dt>@Html.DisplayNameFor(model => model.Documento)</dt>
            <dd>@Html.DisplayFor(model => model.Documento)</dd>

            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>

            <dt>@Html.DisplayNameFor(model => model.StatusDoCliente)</dt>
            <dd>@Html.DisplayFor(model => model.StatusDoCliente)</dd>

            <dt>@Html.DisplayNameFor(model => model.TipoDeCliente)</dt>
            <dd>@Html.DisplayFor(model => model.TipoDeCliente)</dd>

            <dt>@Html.DisplayNameFor(model => model.TipoDePessoa)</dt>
            <dd>@Html.DisplayFor(model => model.TipoDePessoa)</dd>

            <dt>@Html.DisplayNameFor(model => model.TelefonePrincipal)</dt>
            <dd>@Html.DisplayFor(model => model.TelefonePrincipal)</dd>

            <dt>@Html.DisplayNameFor(model => model.ContatoRepresentante)</dt>
            <dd>@Html.DisplayFor(model => model.ContatoRepresentante)</dd>

            <dt>@Html.DisplayNameFor(model => model.InscricaoEstadual)</dt>
            <dd>@Html.DisplayFor(model => model.InscricaoEstadual)</dd>

        </dl>

    </div>

    <div class="col-6">


        <h4>Auditoria de Registros</h4>
        <hr />

        <dl>

            <dt>@Html.DisplayNameFor(model => model.DataCadastro)</dt>
            <dd>@Html.DisplayFor(model => model.DataCadastro)</dd>

            <dt>@Html.DisplayNameFor(model => model.UsuarioCadastro)</dt>
            <dd>@Html.DisplayFor(model => model.UsuarioCadastro)</dd>

            <dt>@Html.DisplayNameFor(model => model.DataAtualizacao)</dt>
            <dd>@Html.DisplayFor(model => model.DataAtualizacao)</dd>

            <dt>@Html.DisplayNameFor(model => model.UsuarioAtualizacao)</dt>
            <dd>@Html.DisplayFor(model => model.UsuarioAtualizacao)</dd>
        </dl>

        <h4>Observação</h4>
        <hr />

        <dl>
            <dd>@Html.DisplayFor(model => model.Observacao)</dd>
        </dl>


    </div>

</div>
